body {
  margin: 0;
  min-height: 100vh;
  background-color: #1eb8cd;
  font-family: system-ui, Arial;
}

.register-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 80px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 300px;
}

input {
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px;
  font-size: 16px;
  background: #520606;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
